<script src="../checkCountry.js"></script>
<html>
    <script src="../../header.js"></script>
    <body>




        <div class="body">
            <script src="menu2.js"></script>
            <div class="body">
                <div role="main" class="main">
                    <section class="page-top">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Favourite Items</h2>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="shorter"><strong id="categoryTitle"></strong></h2>
                            </div>
                        </div>
                        <div class="row">
                            <ul id="retailProductsDisplay" class="products product-thumb-info-list" style="list-style-type: none; margin-left: -3%;" data-plugin-masonry></ul>
                        </div>
                        <hr class="tall">
                    </div>
                </div>
            </div>
            <script src="../footer.js"></script>
        </div>
    </body>
</html>
